<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>GPYay!</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>option7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option7</string>
				</array>
			</dict>
			<key>option6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option6</string>
				</array>
			</dict>
			<key>option5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option5</string>
				</array>
			</dict>
			<key>option4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option4</string>
				</array>
			</dict>
			<key>option3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option3</string>
				</array>
			</dict>
			<key>option0</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option0</string>
				</array>
			</dict>
			<key>option1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option1</string>
				</array>
			</dict>
			<key>option2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>option2</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>appstore</string>
		<string>linkedin</string>
		<string>github</string>
		<string>twitter</string>
		<string>stackoverflow</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
